nav a.router-link-active {
  background-color: #eeeeee;
}

.mobile-menu-button {
    margin-top:     10px;
    margin-left:    5px;
    margin-right:   5px;
    width:          45%;
}

.navbar-brand > img {
    margin:                 0px;
    padding:                0px;
    height:                 100%;
    width:                  auto;
}

.navbar-mobile {
    width:                  91%;
}

.navbar-toggled-on {
    position: relative;
    float: right;
    margin-right: 15px;
    padding: 9px 10px;
    margin-top: 8px;
    margin-bottom: 8px;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color:rgba(0, 0, 0, 0.15);
}
