.listComponentCss-photo-title-top-padding {
    padding-top: 5px;
}


@media (min-width:0px)  {
    .listComponentCss-entry-title {
        font-weight:            300;
        font-size:              35px;
    }
}
@media (min-width:481px)  {
    .listComponentCss-entry-title {
        font-weight:            300;
        font-size:              50px;
    }
}

.listComponentCss-entry-content {
    font-weight:            300;
    font-size:              15px;
}
