
@media (min-width:0px)  {
    .pageComponentCss-entry-title {
        font-weight:            300;
        font-size:              35px;
    }
}
@media (min-width:481px)  {
    .pageComponentCss-entry-title {
        font-weight:            300;
        font-size:              50px;
    }
}

.pageComponentCss-entry-content {
    font-weight:            300;
    font-size:              15px;
}

.pageComponentCss-entry-details {
    font-weight:            300;
    font-size:              10px;
    padding-top:            15px;
}

.pageComponentCss-padding-toggle {
    padding-left:           5px;
}
