body {
    background-image:       url("../images/_background.png?@TIMESTAMP");
    background-size :       auto;
    background-repeat:      no-repeat;
    background-attachment:  fixed;
    background-position:    center;
    min-height:             100vh;
}

footer {
    text-align:             center;
    font-size:              x-small;
    padding-top:            20px;
}

img {
    max-width:              100%;
    height:                 auto;
}

img.padding-to-text {
    margin-right:           10px;
}

img.rounded-border {
    border-radius:          5px;
    border:                 1px solid #e0ebeb;
}

.router-outlet {
    border-radius:          10px;
    padding:                20px;
    border-color:           #f2f2f2;
    border-width:           1px;
    border-style:           dotted;
    background:             rgba(255, 255, 255, .8);
}

.center_div {
    margin:                 auto;
}

.center {
    text-align:             center;
}

.loading {
    background-image:       url("../images/_loading.gif?@TIMESTAMP");
    background-size:        contain;
    background-repeat:      no-repeat;
    background-attachment:  fixed;
    background-position:    center;
    height:                 100vh;
    opacity:                0.2;
}

.error {
    text-align:             center;
    width:                  100%;
    background-image:       url("../images/_error.png?@TIMESTAMP");
    background-size:        auto;
    background-repeat:      no-repeat;
    background-position:    center;
    line-height:            10;
}

.spinner-large {
    text-align:             center;
    width:                  100%;
    background-image:       url("../images/_spinner128.gif?@TIMESTAMP");
    background-size:        auto;
    background-repeat:      no-repeat;
    background-position:    center;
    line-height:            10;
}

.spinner-small {
    text-align:             center;
    width:                  100%;
    background-image:       url("../images/_spinner64.gif?@TIMESTAMP");
    background-size:        auto;
    background-repeat:      no-repeat;
    background-position:    center;
    line-height:            5.5;
}

.btn-adjustment-large {
    font-size:                15px;
    line-height:              1.3333333;
    border-radius:            0px;
    padding-left:             12px;
    padding-right:            12px;
    padding-top:              20px;
    padding-bottom:           20px;
    border-width:             5px 5px 0;
}

.btn-adjustment-small {
    font-size:              10px;
    line-height:            1.3333333;
    border-radius:          0px;
    padding-left:           12px;
    padding-right:          12px;
    padding-top:            10px;
    padding-bottom:         10px;
    border-width:           5px 5px 0;
}

.nobreak {
    display:                inline-block;
}

.fix-col-xs-12 {
    z-index:                1;
}

.max-width {
    max-width:              1000px;
}

.forcebreak {
    word-wrap:              break-word;

    /* not yet supported in chrome. ref: http://stackoverflow.com/questions/5356752/webkit-hyphenation and http://stackoverflow.com/questions/15261605/how-to-use-automatic-css-hyphens-with-word-break-break-all */
    hyphens:                auto;
    -webkit-hyphens:        auto;
    -webkit-hyphenate-character:    "\2010";
    -webkit-hyphenate-limit-after:  1;
    -webkit-hyphenate-limit-before: 3;
    -moz-hyphens:           auto;
}

.hidden {
    display:                none;
}

.listview-padding-small-entry-top {
    padding-top:            40px;
}

@media (min-width:0px)  {
    .listview-padding-entry-top {
        padding-top:            80px;
    }
}
@media (min-width:481px)  {
    .listview-padding-entry-top {
        padding-top:            100px;
    }
}

.listview-padding-entry-readmore {
    padding-top:            10px;
}

.listview-padding-entry-details {
    padding-top:            20px;
}

.listview-font-entry-feedprofile {
    font-weight:            300;
    font-size:              15px;
}


@media (min-width:0px)  {
    .listview-font-entry-title {
        font-weight:            300;
        font-size:              35px;
    }
}
@media (min-width:481px)  {
    .listview-font-entry-title {
        font-weight:            300;
        font-size:              40px;
    }
}


.listview-font-entry-content {
    font-weight:            300;
    font-size:              18px;
}

.listview-font-entry-readmore {
    font-weight:            300;
    font-size:              16px;
}

.listview-font-entry-details {
    font-weight:            300;
    font-size:              11px;
}

.listview-entry-thumbnail {
    border-radius:          5px;
    max-width:              200px;
    max-height:             200px;
    border:                 1px solid #e0ebeb;
}

.listview-entry-image-big1 {
    border-radius:          5px;
    max-height:             450px;
    border:                 1px solid #e0ebeb;
}

.listview-entry-image-big2 {
    border-radius:          5px;
    width:                  100%;
    border:                 1px solid #e0ebeb;
}

@media (min-width:0px)  {
    .listview-entry-image-grid {
        border-radius:          5px;
        border:                 1px solid #e0ebeb;
    }
}
@media (min-width:481px)  {
    .listview-entry-image-grid {
        height:                 255px;
        width:                  255px;
        border-radius:          5px;
        border:                 1px solid #e0ebeb;
    }
}

.test-red {
    background-color:       red;
}

.test-blue {
    background-color:       blue;
}

.test-yellow {
    background-color:       yellow;
}
