
.welcome-padding-infomessage {
    padding-top:            25px;
}

.welcome-padding-banner {
    padding-top:            25px;
}

.welcome-padding-logo {
    padding-top:            25px;
}

.welcome-padding-heading {
    padding-top:            25px;
}

.welcome-padding-bottom {
    padding-bottom:         50px;
}

.welcome-font-heading {
    font-weight:            400;
    font-size:              20px;
    line-height:            1.1;
}

img.welcome-logo {
    max-width:              50%;
    max-height:             250px;
    margin:                 10px;
}
