<!-- initial checks -->
<div *ngIf="!rpcService" class="alert alert-danger"><h2>no rpcService</h2></div>
<div *ngIf="!libraryService" class="alert alert-danger"><h2>no libraryService</h2></div>
<!-- /initial checks -->


<div class="container-fluid">

    <!-- status animations -->
    <div *ngIf="!abouts" class="row spinner-large">&nbsp;</div>
    <!-- /status animations -->

    <div *ngFor="let about of abouts; let i = index" class="row" >
        <div *ngIf="i>0" class="listview-padding-small-entry-top"></div>
        <div class="col-sm-1 hidden-xs">&nbsp;</div>
        <div class="col-sm-10">
            <span class="listview-font-entry-title" [innerHTML]="about.title"></span>
            <p class="lead" [innerHTML]="about.ingress"></p>
            <div [innerHTML]="about.body"></div>
        </div>
        <div class="col-sm-1 hidden-xs">&nbsp;</div>
    </div>
</div>
