<!-- initial checks -->
<div *ngIf="!rpcService" class="alert alert-danger"><h2>no rpcService</h2></div>
<div *ngIf="!libraryService" class="alert alert-danger"><h2>no libraryService</h2></div>
<div *ngIf="!htmlService" class="alert alert-danger"><h2>no htmlService</h2></div>
<div *ngIf="!templateService" class="alert alert-danger"><h2>no templateService</h2></div>
<!-- /initial checks -->


<div *ngIf="libraryService.globals.cfg" class="container-fluid">

    <!-- status animations -->
    <div *ngIf="libraryService.globals.loadingStatus === 'loading'" class="row spinner-large">&nbsp;</div>
    <div *ngIf="libraryService.globals.loadingStatus === 'error'" class="row error">&nbsp;</div>
    <!-- /status animations -->

    <!-- description -->
    <span *ngIf="mod">
        <div *ngIf="mod.description" class="row">
            <div class="col-sm-1 hidden-xs">&nbsp;</div>
            <div class="col-sm-10"><p class="lead" [innerHTML]="mod.description"></p></div>
            <div class="col-sm-1 hidden-xs">&nbsp;</div>
        </div>
    </span>
    <!-- /description -->

    <div class="row">&nbsp;</div>


<!--
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
                COUNTRIES, MAINCATS & SUBCATS
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
-->
<span *ngIf="listType==='countries' || listType==='maincats' || listType==='subcats'">

    <span *ngFor="let record of records; let i = index">

        <span *ngIf="i>0" class="listview-padding-small-entry-top"></span>

        <div class="row">
            <div class="col-sm-1 hidden-xs">&nbsp;</div>
            <div class="col-sm-10">
                <div class="listview-font-entry-title">
                    <a *ngIf="listType==='countries'" [routerLink]="templateService.getLink('internal.feed_country_code./page/country/feed_country_code/', record, mod).href" [innerHTML]="record.feed_country_code"></a>
                    <a *ngIf="listType==='maincats'" [routerLink]="templateService.getLink('internal.feed_main_category_id./page/maincat/feed_main_category_id/', record, mod).href" [innerHTML]="record.feed_main_category"></a>
                    <a *ngIf="listType==='subcats'" [routerLink]="templateService.getLink('internal.feed_sub_category_id./page/subcat/feed_sub_category_id/', record, mod).href" [innerHTML]="record.feed_sub_category"></a>
                </div>
            </div>
            <div class="col-sm-1 hidden-xs">&nbsp;</div>
        </div>

    </span>

</span>


<!--
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
                        ENTRIES
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
-->
<span *ngIf="listType==='entries'">

    <div *ngFor="let record of records; let i = index" class="row">
        <div *ngIf="i>0" class="listview-padding-entry-top"></div>
        <div *ngIf="record.entry_title">
            <div class="col-sm-1 hidden-xs">&nbsp;</div>
            <div class="col-sm-10">

                <!-- big image -->
                <span [innerHTML]="templateService.getDisplayImage(record)"></span>
                <!-- / big image -->

                <div class="nobreak listview-font-entry-feedprofile">
                    <span [innerHTML]="record.feed_profile"></span>
                </div>

                <!-- entry listing : this section should be identical (copied to) to listing entries for profiles (where "pageType==='profile'" in "page.component.html") -->
                <div class="listview-font-entry-title forcebreak">
                    <a *ngIf="templateService.getLink('readMore', record, mod).target==='_self'" [routerLink]="templateService.getLink('readMore', record, mod).href" [innerHTML]="templateService.shortenString(record.entry_title,80)" [title]="templateService.getLink('readMore', record, mod).title"></a>
                    <a *ngIf="templateService.getLink('readMore', record, mod).target==='_blank'" [href]="templateService.getLink('readMore', record, mod).href" [innerHTML]="templateService.shortenString(record.entry_title,80)" [title]="templateService.getLink('readMore', record, mod).title" target="_blank"></a>
                </div>

                <!-- entry ingress -->
                <div class="clearfix forcebreak listview-font-entry-content" [innerHTML]="templateService.getEntryIngress(record)"></div>
                <!-- / entry ingress -->

                <!-- read more -->
                <div class="listview-font-entry-readmore">
                    <a *ngIf="templateService.getLink('readMore', record, mod).target==='_self'" [routerLink]="templateService.getLink('readMore', record, mod).href" [innerHTML]="templateService.getLink('readMore', record, mod).title"></a>
                    <div *ngIf="templateService.getLink('readMore', record, mod).target==='_blank'" [innerHTML]="templateService.getLink('readMore', record, mod).link"></div>
                </div>
                <!-- / read more -->

                <!-- details -->
                <div class="listview-font-entry-details text-muted listview-padding-entry-details">
                    <span [innerHTML]="record.entry_published_date_display"></span>
                </div>
                <!-- / details -->

            </div>
            <div class="col-sm-1 hidden-xs">&nbsp;</div>
        </div>
    </div>

</span>


<!--
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
                        FULL
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
-->
<span *ngIf="listType==='full'">

    <span *ngFor="let record of records; let i = index">

        <div *ngIf="i>0" class="listview-padding-small-entry-top row"></div>

        <!-- title -->
        <div class="row">
            <div class="col-sm-1 hidden-xs">&nbsp;</div>
            <div class="col-sm-10">
                <div class="listComponentCss-entry-title forcebreak" [innerHTML]="record.entry_title"></div>
            </div>
            <div class="col-sm-1 hidden-xs">&nbsp;</div>
        </div>
        <!-- /title -->

        <!-- main content -->
        <div class="row">
            <div class="col-sm-1 hidden-xs">&nbsp;</div>
            <div class="col-sm-10 listComponentCss-entry-content">
                <div [innerHTML]="templateService.prepareHtmlContent(record.entry_content_html, record.feed_special_code)"></div>
            </div>
            <div class="col-sm-1 hidden-xs">&nbsp;</div>
        </div>
        <!-- /main content -->

        <!-- details -->
        <div class="row">
            <div class="col-sm-1 hidden-xs">&nbsp;</div>
            <div class="col-sm-10 text-muted pageComponentCss-entry-details nobreak">
                <small [innerHTML]="record.entry_published_date_display"></small>
            </div>
            <div class="col-sm-1 hidden-xs">&nbsp;</div>
        </div>
        <!-- /details -->

    </span>

</span>


<!--
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
                    FEEDS & PROFILES
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
-->
<span *ngIf="listType==='feeds' || listType==='profiles'">

    <span *ngFor="let record of records; let i = index">

        <div *ngIf="i>0" class="listview-padding-small-entry-top"></div>

        <div class="row">
            <div class="col-sm-1 hidden-xs">&nbsp;</div>
            <div class="col-sm-10">
                <div class="nobreak text-muted listview-font-entry-content">
                    <div *ngIf="listType==='feeds'">
                        <a [routerLink]="templateService.getLink('internal.feed_profile_id./page/profile/feed_profile_id/', record, mod).href" class="text-muted" [innerHTML]="record.feed_profile"></a>
                        &#9137;
                        <a [routerLink]="templateService.getLink('internal.feed_main_category_id./page/maincat/feed_main_category_id/', record, mod).href" class="text-muted" [innerHTML]="record.feed_main_category"></a>
                        &#9137;
                        <a [routerLink]="templateService.getLink('internal.feed_sub_category_id./page/subcat/feed_sub_category_id/', record, mod).href" class="text-muted" [innerHTML]="record.feed_sub_category"></a>
                    </div>
                    <div *ngIf="listType==='profiles'">
                        <a [routerLink]="templateService.getLink('internal.feed_main_category_id./page/maincat/feed_main_category_id/', record, mod).href" class="text-muted" [innerHTML]="record.feed_main_category"></a>
                        &#9137;
                        <a [routerLink]="templateService.getLink('internal.feed_sub_category_id./page/subcat/feed_sub_category_id/', record, mod).href" class="text-muted" [innerHTML]="record.feed_sub_category"></a>
                    </div>
                </div>
                <div class="listview-font-entry-title">
                    <a *ngIf="listType==='feeds'" [routerLink]="templateService.getLink('internal.feed_id./page/feed/feed_id/', record, mod).href" [innerHTML]="record.feed_profile + ' @ ' + record.feed_source"></a>
                    <a *ngIf="listType==='profiles'" [routerLink]="templateService.getLink('internal.feed_profile_id./page/profile/feed_profile_id/', record, mod).href" [innerHTML]="record.feed_profile"></a>
                </div>
            </div>
            <div class="col-sm-1 hidden-xs">&nbsp;</div>
        </div>

    </span>

</span>


<!--
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
                        GRID
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
-->
<span *ngIf="listType==='grid'">

    <div class="row">
        <div class="col-sm-1 hidden-xs">&nbsp;</div>
        <div class="col-sm-10 center">
            <div class="nobreak" *ngFor="let record of records; let i = index">

                <!-- present title when on mobile -->
                <div class="visible-xs listComponentCss-photo-title-top-padding" [innerHTML]="templateService.encodeString(record.entry_title) + ':'"></div>
                <!-- / title -->

                <!-- internally linked photos -->
                <a *ngIf="templateService.getLink('readMore', record, mod).target==='_self'" [routerLink]="templateService.getLink('readMore', record, mod).href" [innerHTML]="'<img class=\'listview-entry-image-grid\' src=\''+htmlService.getFirstImage(record.entry_content_html)+'\' title=\''+htmlService.encodeString(record.entry_title)+'\n'+htmlService.encodeString(templateService.prepareTextContent(record.entry_content_text))+'\n\n'+ libraryService.globals.cfg.layout.readMoreTitle+' '+templateService.getDomainName(record.entry_link)+' &#8599;\'>'">
                </a>
                <!-- / internally linked photos -->

                <!-- externally linked photos -->
                <div *ngIf="templateService.getLink('readMore', record, mod).target==='_blank'" [innerHTML]="'<a href=\''+templateService.getLink('readMore', record, mod).href+'\' target=\'_blank\'><img class=\'listview-entry-image-grid\' src=\''+htmlService.getFirstImage(record.entry_content_html)+'\' title=\''+htmlService.encodeString(record.entry_title)+'\n'+htmlService.encodeString(templateService.prepareTextContent(record.entry_content_text))+'\n\n'+ libraryService.globals.cfg.layout.readMoreTitle+' '+templateService.getDomainName(record.entry_link)+' &#8599;\'></a>'"></div>
                <!-- / externally linked photos -->

                <!-- empty link (if rml=0 - read more link) -->
                <div *ngIf="templateService.getLink('readMore', record, mod).target===''" [innerHTML]="'<img class=\'listview-entry-image-grid\' src=\''+htmlService.getFirstImage(record.entry_content_html)+'\' title=\''+htmlService.encodeString(record.entry_title)+'\n'+htmlService.encodeString(templateService.prepareTextContent(record.entry_content_text))+'\'>'"></div>
                <!-- / empty link -->

            </div>
        </div>
        <div class="col-sm-1 hidden-xs">&nbsp;</div>
    </div>

</span>


</div>
