<!-- initial checks -->
<div *ngIf="!libraryService" class="alert alert-danger"><h2>no libraryService</h2></div>
<div *ngIf="!htmlService" class="alert alert-danger"><h2>no htmlService</h2></div>
<!-- /initial checks -->


<!-- navbar -->
<div *ngIf="libraryService.globals.cfg"  [style.padding-top]="libraryService.globals.cfg.layout.paddingTop">

    <nav [ngClass]="libraryService.globals.cfg.layout.navbarClass">

        <div class="container-fluid">

            <div class="navbar-header">
                <a *ngIf="libraryService.globals.cfg.layout.navbarLogo" [routerLink]="['welcome']" class="navbar-brand"><img src="/app/images/{{libraryService.globals.cfg.layout.navbarLogo}}" title="{{libraryService.globals.cfg.layout.siteTitle}}" alt="{{libraryService.globals.cfg.layout.siteTitle}}"></a>
                <a [routerLink]="['welcome']" class="navbar-brand" [innerHTML]="libraryService.globals.cfg.layout.siteTitle" (click)="htmlService.scrollToTop()"></a>

                <!-- button to show/hide top menu for mobile -->
                <button type="button" class="navbar-toggle collapsed" (click)="libraryService.toggleMobileMenu()">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- /button -->
            </div>

            <!-- mobile view top buttons -->
            <div *ngIf="libraryService.globals.cfg.layout.mobileMenuView === 'show'" class="navbar-toggle navbar-toggled-on navbar-mobile">
                <div *ngIf="libraryService.globals.cfg.welcome.title" class="btn btn-primary mobile-menu-button" (click)="libraryService.goto('welcome')" [innerHTML]="libraryService.globals.cfg.welcome.title"></div>
                <span *ngFor="let module of libraryService.globals.cfg.modules">
                    <div *ngIf="module.title" class="btn btn-primary mobile-menu-button" [innerHTML]="module.title" (click)="libraryService.goto('module', module.path)"></div>
                </span>
                <div *ngIf="libraryService.globals.cfg.about.title" class="btn btn-primary mobile-menu-button" (click)="libraryService.goto('about')" [innerHTML]="libraryService.globals.cfg.about.title"></div>
            </div>
            <!-- /mobile view buttons -->

            <!-- desktop view top buttons -->
            <!--
                note:
                it is not ideal to create a new ul element for each link in the menu. should only create li(st) elements.
                however, how to fix that while looping modules? beats me... (using span or div inside ul doesn't work)
            -->
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li *ngIf="libraryService.globals.cfg.welcome.title"><a [routerLink]="['welcome']" [innerHTML]="libraryService.globals.cfg.welcome.title" (click)="htmlService.scrollToTop()"></a></li>
                </ul>
                <ul class="nav navbar-nav" *ngFor="let module of libraryService.globals.cfg.modules">
                    <li *ngIf="module.title"><a [routerLink]="module.path" [innerHTML]="module.title" (click)="htmlService.scrollToTop()"></a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li *ngIf="libraryService.globals.cfg.about.title"><a [routerLink]="['about']" [innerHTML]="libraryService.globals.cfg.about.title" (click)="htmlService.scrollToTop()"></a></li>
                </ul>
            </div>
            <!-- /desktop view buttons -->

        </div>

    </nav>

</div>
<!-- /navbar -->

<div class="max-width center_div router-outlet">
    <router-outlet></router-outlet>
</div>
