<!-- initial checks -->
<div *ngIf="!libraryService" class="alert alert-danger"><h2>no libraryService</h2></div>
<div *ngIf="!route" class="alert alert-danger"><h2>no route</h2></div>
<!-- /initial checks -->


<div class="container-fluid">

    <!-- status animations -->
    <div *ngIf="libraryService.globals.loadingStatus === 'loading'" class="row spinner-large">&nbsp;</div>
    <div *ngIf="libraryService.globals.loadingStatus === 'error'" class="row error">&nbsp;</div>
    <!-- /status animations -->

    <div *ngIf="description" class="row">
        <div class="col-sm-1 hidden-xs">&nbsp;</div>
        <div class="col-sm-10"><p class="lead" [innerHTML]="description"></p></div>
        <div class="col-sm-1 hidden-xs">&nbsp;</div>
    </div>

    <div class="row">
        <div class="col-sm-1 hidden-xs">&nbsp;</div>
        <div id="instagram" class="col-sm-10"></div>
        <div class="col-sm-1 hidden-xs">&nbsp;</div>
    </div>

</div>
