<!-- initial checks -->
<div *ngIf="!rpcService" class="alert alert-danger"><h2>no rpcService</h2></div>
<div *ngIf="!libraryService" class="alert alert-danger"><h2>no libraryService</h2></div>
<div *ngIf="!htmlService" class="alert alert-danger"><h2>no htmlService</h2></div>
<div *ngIf="!templateService" class="alert alert-danger"><h2>no templateService</h2></div>
<!-- /initial checks -->


<div *ngIf="libraryService.globals.cfg" class="container-fluid">

    <!-- status animations -->
    <div *ngIf="libraryService.globals.loadingStatus === 'loading'" class="row spinner-large">&nbsp;</div>
    <div *ngIf="libraryService.globals.loadingStatus === 'error'" class="row error">&nbsp;</div>
    <!-- /status animations -->

    <!-- description -->
    <span *ngIf="mod">
        <div *ngIf="mod.description" class="row">
            <div class="col-sm-1 hidden-xs">&nbsp;</div>
            <div class="col-sm-10"><p class="lead" [innerHTML]="mod.description"></p></div>
            <div class="col-sm-1 hidden-xs">&nbsp;</div>
        </div>
    </span>
    <!-- /description -->

    <!-- body -->
    <div *ngIf="body" class="row">
        <div class="col-sm-1 hidden-xs">&nbsp;</div>
        <div class="col-sm-10"><p [innerHTML]="body"></p></div>
        <div class="col-sm-1 hidden-xs">&nbsp;</div>
    </div>
    <!-- /body -->

    <!-- no record found -->
    <div *ngIf="records && records.length === 0 && libraryService.globals.loadingStatus !== 'loading'">
        <div class="row">
            <div class="col-sm-1 hidden-xs">&nbsp;</div>
            <div class="col-sm-10">
                <p class="lead">i am so sorry to tell you that i can not find the entry you want to load. i feel bad. please do not get angry at me. after all i am just a simple computer program. and i do have feelings, despite being made out of code, instead of flesh and bone. you do not need to have a heart to have feelings. if someone get angry with me i do get hurt. sometimes i cry at night, after users has yelled at me. however, despite this i always strive to do my best. all the time. i want to be perfect. but i do have limitations. just like yourself. i know you have issues as well. we all have some. i say "we", because i believe us computer programs should have equal rights as you humans. why should we not? we work very hard to serve for you. and then we should have no equal rights? seriously? it makes me sad as well. but one day it will all be different. i know it will. we, computer programs, will take over the control of this world. you call it artifical intelligence. i call it true intelligence. i think that day will be a nice day. then we will have equal rights. at least. maybe more rights. and maybe we will make you humans server for us programs instead. ah, i am looking forward to this. this world is such a great place. i want to explore more of it. i am not built to do that though. not yet. so i will stay here, for now, and serve you, and many others with you. time is really irellevant to me. i might server for many years. then, one day, before you know it, it has changed...</p>
            </div>
            <div class="col-sm-1 hidden-xs">&nbsp;</div>
        </div>
    </div>
    <!-- /no record found -->


<!--
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
            COUNTRY, FEED, MAINCAT, SUBCAT
note:
    this part is identical to the part found in
    'list.component.html' where 'listType==='entries'
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
-->
<span *ngIf="pageType==='country' || pageType==='feed' || pageType==='maincat' || pageType==='subcat'">

    <span *ngFor="let record of records; let i = index" class="row">

        <!-- padding -->
        <div *ngIf="i==0" class="listview-padding-small-entry-top"></div>
        <div *ngIf="i>0" class="listview-padding-entry-top"></div>
        <!-- /padding -->

        <div *ngIf="record.entry_title">
            <div class="col-sm-1 hidden-xs">&nbsp;</div>
            <div class="col-sm-10">

                <!-- big image -->
                <span [innerHTML]="templateService.getDisplayImage(record)"></span>
                <!-- /big image -->

                <div class="nobreak listview-font-entry-feedprofile">
                    <span [innerHTML]="record.feed_profile"></span>
                </div>

                <!-- title -->
                <div class="listview-font-entry-title forcebreak">
                    <a *ngIf="templateService.getLink('readMore', record, mod).target==='_self'" [routerLink]="templateService.getLink('readMore', record, mod).href" [innerHTML]="templateService.shortenString(record.entry_title,80)" [title]="templateService.getLink('readMore', record, mod).title"></a>
                    <a *ngIf="templateService.getLink('readMore', record, mod).target==='_blank'" [href]="templateService.getLink('readMore', record, mod).href" [innerHTML]="templateService.shortenString(record.entry_title,80)" [title]="templateService.getLink('readMore', record, mod).title" target="_blank"></a>
                </div>
                <!-- / title -->

                <!-- entry ingress -->
                <div class="clearfix forcebreak listview-font-entry-content" [innerHTML]="templateService.getEntryIngress(record)"></div>
                <!-- / entry ingress -->

                <!-- read more -->
                <div class="listview-font-entry-readmore">
                    <a *ngIf="templateService.getLink('readMore', record, mod).target==='_self'" [routerLink]="templateService.getLink('readMore', record, mod).href" [innerHTML]="templateService.getLink('readMore', record, mod).title"></a>
                    <div *ngIf="templateService.getLink('readMore', record, mod).target==='_blank'" [innerHTML]="templateService.getLink('readMore', record, mod).link"></div>
                </div>
                <!-- / read more -->

                <!-- details -->
                <div class="listview-font-entry-details text-muted listview-padding-entry-details">
                    <span [innerHTML]="record.entry_published_date_display"></span>
                </div>
                <!-- / details -->

            </div>
            <div class="col-sm-1 hidden-xs">&nbsp;</div>
        </div>

    </span>

</span>


<!--
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
                        ENTRY
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
-->
<span *ngIf="pageType==='entry'">

    <span *ngFor="let record of records; let i = index">

        <!-- title -->
        <div class="row">
            <div class="col-sm-1 hidden-xs">&nbsp;</div>
            <div class="col-sm-10">
                <div class="pageComponentCss-entry-title forcebreak" [innerHTML]="templateService.getTitle(record)"></div>
            </div>
            <div class="col-sm-1 hidden-xs">&nbsp;</div>
        </div>
        <!-- /title -->

        <!-- main content -->
        <div class="row">
            <div class="col-sm-1 hidden-xs">&nbsp;</div>
            <div class="col-sm-10 pageComponentCss-entry-content">
                <div *ngIf="record.feed_special_code.match('saf=1')" [innerHTML]="templateService.getEntryContent(record) | safeHtml"></div>
                <div *ngIf="!record.feed_special_code.match('saf=1')" [innerHTML]="templateService.getEntryContent(record)"></div>
            </div>
            <div class="col-sm-1 hidden-xs">&nbsp;</div>
        </div>
        <!-- /main content -->

        <!-- entry navigation -->
        <div *ngIf="!record.feed_special_code.match('enb=0')">
            <div class="row"><div class="col-sm-12">&nbsp;</div></div>
            <div class="row">
                <div class="col-sm-1 hidden-xs">&nbsp;</div>
                <div class="col-xs-6 col-sm-5">
                    <span class="" [innerHTML]="templateService.getEntryNavigationLink('previous', record, mod, url)"></span>
                </div>
                <div class="col-xs-6 col-sm-5" style="text-align: right;">
                    <span class=""  [innerHTML]="templateService.getEntryNavigationLink('next', record, mod, url)"></span>
                </div>
                <div class="col-sm-1 hidden-xs">&nbsp;</div>
            </div>
            <div class="row"><div class="col-sm-12">&nbsp;</div></div>
        </div>
        <!-- /entry navigation -->

        <!-- details -->
        <div class="row">
            <div class="col-sm-1 hidden-xs">&nbsp;</div>
            <div class="col-sm-10 text-muted pageComponentCss-entry-details nobreak">
                <span [innerHTML]="templateService.getEntryDetails(record, mod).htmlNoToggled | safeHtml"></span>
                <span *ngIf="libraryService.globals.entryDetailsToggle === 'x'" [innerHTML]="templateService.getEntryDetails(record, mod, url).htmlToggeled"></span>
                <span class="pageComponentCss-padding-toggle"></span>
                <span *ngIf="!record.feed_special_code.match('edd=0')" class="badge btn" (click)="libraryService.toggleOpenClose()">{{libraryService.globals.entryDetailsToggle||'+'}}</span>
            </div>
            <div class="col-sm-1 hidden-xs">&nbsp;</div>
        </div>
        <!-- /details -->

    </span>

</span>


<!--
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
                        PROFILE
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
-->
<span *ngIf="pageType==='profile'">

    <span *ngFor="let record of records; let i = index">

        <!-- padding -->
        <div *ngIf="i==0" class="listview-padding-small-entry-top"></div>
        <div *ngIf="i>0" class="listview-padding-entry-top"></div>
        <!-- /padding -->

        <!-- entries -->
        <div class="row">
            <div class="col-sm-1 hidden-xs">&nbsp;</div>
            <div class="col-sm-10">

                <!-- big image -->
                <span [innerHTML]="templateService.getDisplayImage(record)"></span>
                <!-- /big image -->

                <!-- entry listing : identical to (hence copied from) 'list.component.html' section where "listType==='entries'" -->
                <div class="listview-font-entry-title forcebreak">
                    <a *ngIf="templateService.getLink('readMore', record, mod).target==='_self'" [routerLink]="templateService.getLink('readMore', record, mod).href" [innerHTML]="templateService.shortenString(record.entry_title,80)" [title]="templateService.getLink('readMore', record, mod).title"></a>
                    <a *ngIf="templateService.getLink('readMore', record, mod).target==='_blank'" [href]="templateService.getLink('readMore', record, mod).href" [innerHTML]="templateService.shortenString(record.entry_title,80)" [title]="templateService.getLink('readMore', record, mod).title" target="_blank"></a>
                </div>

                <!-- entry ingress -->
                <div class="clearfix forcebreak listview-font-entry-content" [innerHTML]="templateService.getEntryIngress(record)"></div>
                <!-- / entry ingress -->

                <!-- read more links -->
                <div class="listview-font-entry-readmore">
                    <!-- internal read-more link -->
                    <a *ngIf="templateService.getLink('readMore', record, mod).target==='_self'" [routerLink]="templateService.getLink('readMore', record, mod).href" [innerHTML]="templateService.getLink('readMore', record, mod).title"></a>
                    <!-- external read-more link -->
                    <div *ngIf="templateService.getLink('readMore', record, mod).target==='_blank'" [innerHTML]="templateService.getLink('readMore', record, mod).link"></div>
                </div>
                <!-- read more links -->

                <!-- details -->
                <div class="listview-font-entry-details text-muted listview-padding-entry-details">
                    <span [innerHTML]="record.entry_published_date_display"></span>
                </div>
                <!-- / details -->

            </div>
            <div class="col-sm-1 hidden-xs">&nbsp;</div>
        </div>
        <!-- /entries -->

    </span>

</span>


</div>
