<!-- initial checks -->
<div *ngIf="!rpcService" class="alert alert-danger"><h2>no rpcService</h2></div>
<div *ngIf="!libraryService" class="alert alert-danger"><h2>no libraryService</h2></div>
<div *ngIf="!htmlService" class="alert alert-danger"><h2>no htmlService</h2></div>
<div *ngIf="!templateService" class="alert alert-danger"><h2>no templateService</h2></div>
<!-- /initial checks -->


<div *ngIf="libraryService.globals.cfg" class="container-fluid">

    <!-- status animations -->
    <div *ngIf="!records" class="row spinner-large">&nbsp;</div>
    <!-- /status animations -->

    <!-- info message -->
    <div *ngIf="libraryService.globals.cfg.welcome.infoMessage && records" class="row welcome-padding-infomessage">
        <div class="col-sm-1 hidden-xs">&nbsp;</div>
        <div class="col-sm-10">
            <div class="alert alert-info">
                <p class="lead" [innerHTML]="libraryService.globals.cfg.welcome.infoMessage"></p>
            </div>
        </div>
        <div class="col-sm-1 hidden-xs">&nbsp;</div>
    </div>
    <!-- /info message -->

    <!-- banner -->
    <div *ngIf="libraryService.globals.cfg.welcome.banner && records" class="row welcome-padding-banner">
        <div class="col-sm-1 hidden-xs">&nbsp;</div>
        <div class="col-sm-10"><img class="img-responsive" src="/app/images/{{libraryService.globals.cfg.welcome.banner}}" title="{{libraryService.globals.cfg.layout.siteTitle}}" alt="{{libraryService.globals.cfg.layout.siteTitle}}"></div>
        <div class="col-sm-1 hidden-xs">&nbsp;</div>
    </div>
    <!-- /banner -->

    <!-- logo -->
    <div *ngIf="libraryService.globals.cfg.welcome.logo && records" class="row welcome-padding-logo">
        <div class="col-sm-1 hidden-xs">&nbsp;</div>
        <div class="col-sm-10 center"><img class="welcome-logo" src="/app/images/{{libraryService.globals.cfg.welcome.logo}}" title="{{libraryService.globals.cfg.layout.siteTitle}}" alt="{{libraryService.globals.cfg.layout.siteTitle}}"></div>
        <div class="col-sm-1 hidden-xs">&nbsp;</div>
    </div>
    <!-- /logo -->

    <!-- heading -->
    <div *ngIf="libraryService.globals.cfg.welcome.heading && records" class="row welcome-padding-heading">
        <div class="col-sm-1 hidden-xs">&nbsp;</div>
        <div class="col-sm-10"><p class="welcome-font-heading" [innerHTML]="libraryService.globals.cfg.welcome.heading"></p></div>
        <div class="col-sm-1 hidden-xs">&nbsp;</div>
    </div>
    <!-- /heading -->

    <div *ngIf="!libraryService.globals.cfg.welcome.heading" class="row">&nbsp;</div>

    <div *ngFor="let record of records" class="row listview-padding-entry-top">
        <div *ngIf="record.entry_title">
            <div class="col-sm-1 hidden-xs">&nbsp;</div>
            <div class="col-sm-10">

                <!-- big image -->
                <span [innerHTML]="templateService.getDisplayImage(record)"></span>
                <!-- / big image -->

                <!-- feed profile name (author) -->
                <div class="nobreak listview-font-entry-feedprofile">
                    <span [innerHTML]="record.feed_profile"></span>
                </div>
                <!-- / feed profile name -->

                <!-- entry title -->
                <div class="listview-font-entry-title forcebreak">
                    <!-- internal read-more link -->
                    <a *ngIf="templateService.getLink('readMore', record, mod).target==='_self'" [routerLink]="templateService.getLink('readMore', record, mod).href" [innerHTML]="templateService.shortenString(record.entry_title,80)" [title]="templateService.getLink('readMore', record, mod).title"></a>
                    <!-- external read-more link -->
                    <a *ngIf="templateService.getLink('readMore', record, mod).target==='_blank'" [href]="templateService.getLink('readMore', record, mod).href" [innerHTML]="templateService.shortenString(record.entry_title,80)" [title]="templateService.getLink('readMore', record, mod).title" target="_blank"></a>
                </div>
                <!-- / entry title -->

                <!-- entry ingress -->
                <div class="clearfix forcebreak listview-font-entry-content" [innerHTML]="templateService.getEntryIngress(record)"></div>
                <!-- / entry ingress -->

                <!-- read more -->
                <div class="listview-font-entry-readmore listview-padding-entry-readmore">
                    <!-- internal read-more link -->
                    <a *ngIf="templateService.getLink('readMore', record, mod).target==='_self'" [routerLink]="templateService.getLink('readMore', record, mod).href" [innerHTML]="templateService.getLink('readMore', record, mod).title"></a>
                    <!-- external read-more link -->
                    <div *ngIf="templateService.getLink('readMore', record, mod).target==='_blank'" [innerHTML]="templateService.getLink('readMore', record, mod).link"></div>
                </div>
                <!-- / read more -->

                <!-- details -->
                <div class="listview-font-entry-details text-muted listview-padding-entry-details">
                    <span [innerHTML]="record.entry_published_date_display"></span>
                </div>
                <!-- / details -->

            </div>
            <div class="col-sm-1 hidden-xs">&nbsp;</div>
        </div>
    </div>

    <div class="row">&nbsp;</div>

    <!-- bottom link -->
    <div *ngIf="records && libraryService.globals.cfg.welcome.bottomLinkTitle" class="row listview-padding-entry-top welcome-padding-bottom">
        <div class="col-sm-1 hidden-xs">&nbsp;</div>
        <div class="col-sm-10"><span class="h5"><a class="btn btn-primary" [href]="libraryService.globals.cfg.welcome.bottomLinkUrl" [innerHTML]="libraryService.globals.cfg.welcome.bottomLinkTitle"></a></span></div>
        <div class="col-sm-1 hidden-xs">&nbsp;</div>
    </div>
    <!-- / bottom link -->

</div>
